.center
    display: flex
    justify-content: center
    align-items: center

.vertical-position
    position: absolute
    top: 50%
    transform: translateY(-70%)

.message
    font-weight: 500
    font-size: 28px
    text-align: left

.mobile-link
    padding: 10px 20px
    font-size: xx-large
    font-weight: 700

.center-button
    align-content: center
    align-items: center
    flex-direction: column

.flex-column-center
    display: flex
    flex-direction: column
    align-items: center

.flex-justify
    display: flex
    justify-content: center

.options
    flex-direction: column
    gap: 30px

.profile-pic-padding
    padding-top: 25px