<div class="center">
  <div class="vertical-position">
    <div class="container flex-column-center">
      <img class="rounded" width="40%" src="assets\images\updated pic.jpg" alt="Jackson's Profile Pic">
      <div class="row options">
        <div class="profile-pic-padding col flex-justify">
          <form action="https://traktrain.com/jacksonwithheart">
            <button type="submit" class="btn btn-secondary mobile-link">TRAKTRAIN</button>
          </form>
        </div>
        <div class="col flex-justify">
          <form action="mailto:jacksonwithheart@gmail.com">
            <button type="submit" class="btn btn-secondary mobile-link">EMAIL ME</button>
          </form>
        </div>
        <div class="col flex-justify">
          <form action="https://www.youtube.com/@1JACKSONWITHHEART">
            <button type="submit" class="btn btn-secondary mobile-link">YOUTUBE</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


