.positioning
    position: fixed
    top: 40%
    left: 50%
    transform: translate(-50%, 50%)

.message
    font-weight: 500
    font-size: xx-large
    text-align: right

.beatstars-connect
    padding: 30px 100px
    font-size: xx-large

.squish
    width: 1685px

.name
    font-weight: 700